# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
venv/
.env

# Environment & Config files
.env
*.env

# OS specific
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Cache
*.pytest_cache/
.mypy_cache/
